@import url(https://fonts.google.com/specimen/Rubik);
:root{
    --page-color: #0D1323;
    --panel-color: #1D204B ;
    --main-color: #5746EA ;
    --yellow-color: #F1C75B ;
    --purple-color: #7235D1 ;
    --green-color:#4BCF83 ;
    --red-color: #FF5E7D ;
    --blue-color: #56C2E6;
    --orange-color: #FF8B64;
     
    --white-color: #ffffff ;
    --middle-purple: #6f76c8  ;
    --light-purple: #bdc1ff ;

}
 * {
    font-family: 'Rubik', sans-serif;
 }

